#text1
{
    margin:           0 0.0em;
    overflow:         hidden;
    font:             normal normal normal 2.0em/1.5 'Open Sans Light', sans-serif;
    color:            #ffffff;
    background-color: #1f1c1c;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
// accordion
.faq {
    background: #1f1c1c;
    padding: 100px 0;
    width: 100%;
    border: 1px solid #222;
    text-align: center;
}

.faqitem .header {
    padding: 15px;
    background: #1f1c1c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.faqitem .header h4 {
    margin: 0 auto;
}

.faqitem .header .fa.fa-minus {
    display: none;
}

.faqitem.jquery-accordion-active .fa.fa-minus {
    display: block;
}

.faqitem.jquery-accordion-active .fa.fa-plus {
    display: none;
}

.faqitem .content {
    color: white;
    padding: 15px;
    display: none;
}
// accordion
// lightbox
.custom_lightbox{
    padding: 100px;
    background:#333 !important ;
}
// lightbox
// button
.loader-button{
    padding: 150px;
    display: flex;
    justify-content: center;
    background: #1f1c1c;
    .btn{
        padding: 1.5rem 2.5rem;
    }
}
// button
// ....................page 2....................
// counter
.counter-area{
    padding: 100px 0;
    background: grey;
    display: flex;
    justify-content: center;
    .numbers{
        width: 70%;
        margin: 0 auto;
        .counter{
            font-size: 50px;
            margin: 0 50px;
        }
    }
}
// parallax
.parallax-area{
    
    .parallax-window{
        min-height: 400px;
        width: 100%;
        background: transparent;
    }
    p{
        font-weight: bold;
        padding: 50px;
        background: grey;
        margin: 0;
    }
}
// slider
.slider-area{
    width: 100%;
    background: grey;
    .autoplay{
        img{
            
        }
    }
}
// button
.button-area{
    padding: 100px;
    background: grey;
    display: flex;
    justify-content: center;
    button{
        width: 200px;
        height: 60px;
    }
}
// particles
canvas {
    display: block;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  /* ---- stats.js ---- */
  
  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
//   3d
.project {
    width: 100%;
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  
  .project__image {
    display: block;
    position: relative;
  }
  
  .project__image img {
    width: 100%;
    max-width: 100%;
    display: block;
  }
  
  .project__image:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
    transition: opacity .3s ease;
    opacity: 0;
  }
  
  .project__card {
    position: relative;
    will-change: transform;
    transition: box-shadow .3s ease;
    box-shadow: 0 10px 30px transparent;
  }
  
  .project__card.hover-in {
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  }
  
  .project__card.hover-out {
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
  }
  
  .project:hover .project__card { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }
  
  .project:hover .project__image:after { opacity: 1; }
  
  .project:hover .project__detail {
    border-width: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }
  
  .project:hover .project__title, .project:hover .project__category {
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  
  .project__detail {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    -webkit-transform: translateZ(30px);
    transform: translateZ(30px);
    border: 0 solid #00BCD4;
    transition: border .4s ease;
  }
  
  .project__title {
    margin: 0 0 10px;
    font-size: 36px;
    font-weight: 700;
    transition: .4s ease;
    opacity: 0;
    -webkit-transform: translateY(40px) scale(0);
    -ms-transform: translateY(40px) scale(0);
    transform: translateY(40px) scale(0);
    will-change: transform;
  }
  
  .project__title a { color: white; }
  
  .project__category {
    opacity: 0;
    transition: .4s ease;
    transition-delay: .1s;
    -webkit-transform: translateY(40px) scale(0);
    -ms-transform: translateY(40px) scale(0);
    transform: translateY(40px) scale(0);
    will-change: transform;
  }
  
  .project__category a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3em;
  }